.nav {
  background-color: black;
  color: white;
}
.floatLeft{
  float: left;
}

.nav div a {
  float: right;
}
img {
  display: block;

}
.guitar {
  height: 40%;
  width: 15%;
}
.floatRight{
  float: left;
  clear: both;
  line-height: 15px;
}
.sec2{
  position: absolute;
  top: 6%;
  right: 0%;
  bottom: 0%;
  left: 29%;
}
.logo{
  clear: both;
}
#bottomBorder {
  border-bottom: 3px groove;
}
h3 {
  color: #C9314F;
}
